*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.navbar {
    background-color: black;
    border-radius: 80px;
    width: 500px;
    height: 56px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-selection {
    margin: 10px;
    width: 120px;
    height: 40px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.navbar-selection-a {
    color: gray;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: normal;
    line-height: 40px;
}

.navbar-selection-a > span {
    color: black;
    background-color: gray;
    border-radius: 100%;
    font-size: 15px;
    padding: 2px;
    margin: 5px;
    vertical-align: middle;
}

.navbar-selection:has(a.active){
    background-color: white;
    border-radius: 60px;
    padding: 0px;
    margin: 5px;
    line-height: normal;
}

a.active {
    color: black;
}

.site-name-container {
    display: flex;
    margin-left: 112px;
    margin-top: 30px;
    align-items: stretch;
    flex-direction: row;
    text-align: center;
}

.site-name-container > h1 {
    font-size: clamp(2vw, 10vw, 8vw);
    flex: 1;
}

.site-name-container > button {
    align-self: flex-end;   
    float: right;  
    margin-right: 112px;
}

.scroll-down-button {
    border: none;
    background: none;
}

.scroll-down-button:hover {
    cursor: pointer;
}

.bio-container {
    margin-left: 112px;
    margin-right: 112px;
    margin-top: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.bio-container > div {
    margin-right: 40px;
}

.bio-container > div > h3 {
    font-size: 24px;
}

.bio-container-content {
    width: 20%;
}

.bio-container > div > a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.projects-flex-container {
    margin-top: 40px;
    margin-left: 112px;
    margin-right: 112px;
    width: 100% - 224px;
    display: flex;
    flex-direction: column;
}

.projects-more-flex-container {
    align-self: flex-end;    
}

.projects-more-flex-container > button {
    float: right;  
    border: none;
    background: none;
    font-size: 20px;
}

.projects-exaple-crtly-background {
    width: 592px;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 32px;
    background-image: linear-gradient(rgba(122, 25, 243, 1), rgba(169, 82, 243, 1));
    overflow: hidden;
}

.projects-exaple-crtly-background > img {
    width: 481px;
    height: 474px;
    top: 40px;
    left: 55px;
    position: relative;
}

.projects-description-flex-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.projects-description-projects-flex-container {
    width: 20%;
    font-size: 20px;
}

.projects-description-projects-flex-container > h1 {
    font-size: 48px;
}

.projects-description-flex-container > div {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}

.projects-examples-grid {
    display: grid;
    grid-row: auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(min(592px, 100%), auto));
    justify-content: space-between;
}

.projects-examples-grid > div {
    margin: 0px;
    padding: 0px;
}

.projects-examples-grid > div > img {
    width: 592px;
    height: 500px;
    padding-bottom: 20px;
}

.projects-examples-grid > div > h5 {
    font-size: 20px;
    width: 100%;
}

.projects-examples-grid > div > p {
    font-size: 13px;
    padding-top: 5px;
    font-size: 20px;
    width: 100%;
}

.expertise-flex-container {
    margin-left: 112px;
    margin-top: 60px;
}

.expertise-flex-container > h1 {
    font-size: 48px;
}

.expertise-details-grid-container {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: 112px;
    grid-template-columns: 592px 500px;
    display: grid;
    grid-row: auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(min(592px, 100%), auto));
    justify-content: space-between;
  }

  .expertise-details-grid-container > div {
    width: 592px;
    padding: 0px;

    margin-left: 0px;
    padding-left: 15px;
    text-align: left;
  }

.expertise-details-grid-container > div > h2 {
    text-align: left;
}

  .expertise-details-grid-container > div > p {
    word-wrap: break-word;
    text-align: left;
    font-size: 20px;
  }

  .expertise-details-grid-container {
    display: flex;
    flex-wrap: wrap;
  }

.tagline {
    margin: 0;
    color: white;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    overflow: clip;
    text-align: center;
    width: 100%;
    height: 249px;
}

.tagline > h1 {
    font-size: 140px;
    text-align: center;
    white-space: nowrap; 
    position: relative;
    text-overflow: clip;
}

.testimonials {
    margin-top: 60px;
    margin-left: 112px;  
}

.testimonials > h1 {
    font-size: 64px;
    margin-bottom: 30px;
}

.testimonials-flex-container {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
}

.testimonial-content {
    width: 50%;
    flex-grow: 1;
    margin-right: 50px; 
}

.testimonial-content > p {
    font-size: 48px;
    text-wrap: wrap;
}

.testimonial-name {
    width: 20%;
    align-self: flex-end;
}

.testimonial-name > p {
    font-size: 20px;
}

.contact-flex-container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-flex-container > h1 {
    font-size: 140px;
}

.contact-href {
    padding: 32px;
    margin: 48px;
    margin-bottom: 150px;
    background-color: black;
    border-radius: 144px;
    width: 262px;
    height: 92px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 80px;
}

.contact-href:visited {
    text-decoration: none;
    color: black;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-between;
}

.footer-flex-container > p{
    margin: 5px;
    margin-left: 112px;
    margin-right: 112px;
    font-size: 14px;
}

.footer-flex-container-end {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.footer-flex-container-end > a {
    margin: 10px;
    text-decoration: none;
    color: black;
    position: relative;
}

.footer-flex-container-end > a:hover{
    font-weight: bold;
}